@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  text-align: center;
  font-size: 1.1em;
  line-height: 0;
}
.main{
    margin: 150px 0 0;
    display:grid;
    
}
h1{
    color: #FF7601;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

p{
    color:#ffa658;
    padding: 0 0 100px;
}
input{
    border-color: #ff8921;
    border-style: none none solid none;
    width: 50%;
    margin: 0 auto 20px;
    transition: 1s;
}
input:focus{
    border-color: #FF7601;
    outline: none;
    transition: 1s;
}
.button{
    padding: 20px 15px;
    margin: 0 auto;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background-color: #FF7601;
    border: #FF7601 solid;
    color:white;
    transition:0.2s ;
}

.button:hover{
    background-color: white;
    color: #FF7601;
    width: 210px;
    transition:0.2s ;
    cursor: pointer;
}

@media only screen and (max-width:999px) { /*medium devices*/
h1{
    font-size: 3.5rem;
}
p{
    font-size: 1.2rem;
}
p{
    padding: 0 0 80px;
}
}

@media only screen and (max-width:700px) { /*small devices*/
h1{
    font-size: 2.5rem;
}
p{
    font-size: 1rem;
}
p{
    padding: 0 0 40px;
}
}

@media only screen and (max-width:500px) { /* extra small devices*/
h1{
    font-size: 1.8rem;
}
p{
    font-size: 0.8rem;
}
.button{
    padding: 15px 10px;
    width: 150px;
    height: 18px;
    font-size: 0.9rem;
}
.button:hover{
    width: 155px;
}
p{
    padding: 0 0 10px;
}
}